@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex">
   
        <img src="~/imgs/parrilla.jpg" alt="Parrilla" style="width: 50%; height: auto;">
        <img src="~/imgs/parrilla2.jpg" alt="Parrilla" style="width: 50%; height: auto;">
</div>

<div class="mx-auto" style="display: flex; align-items: center;">
    <div class="mx-auto">
    <h3 style="color: rgba(50, 50, 50, 0.8);">Dias de apertura</h3>
    <p><span style="color: rgba(188, 143, 143, 0.8);">Lunes - Martes :</span> <span class="font-weight-normal pl-2 text-muted ">7:00 am - 12:00 pm</span></p>
    <p><span style="color: rgba(32, 178, 170, 0.8);">Miercoles - Jueves :</span> <span class="font-weight-normal pl-2 text-muted">7:00 am - 12:00 pm</span></p>
    <p><span style="color: rgba(70, 130, 180, 0.8);">Viernes - Domingo :</span> <span class="font-weight-normal pl-2 text-muted">9:00 am - 12:00 pm</span></p>
    </div>
    
    <img  src="~/imgs/reloj.jpg" alt="Reloj" style=" width 200px; height: 200px; margin-right:auto">
</div>
<br />

<h1 style="color: rgba(50, 50, 50, 0.8);">Visítanos en Nuestros Locales</h1>

<div>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/imgs/locales.jpg" alt="local" title="Los Olivos" style="max-width: 100%; height: auto;">
            <a href="#">
            <p style="color: darkred; text-align: center; font-family: Arial, sans-serif; font-size: 18px;">Los Olivos</p>
            </a>

        </div>
        <div class="col-sm-4">
            <img src="~/imgs/locales.jpg" alt="local" title="Mira Flores" style="max-width: 100%; height: auto;">
            <a href="#">
            <p style="color: darkred; text-align: center; font-family: Arial, sans-serif; font-size: 18px;">MiraFlores</p>
            </a>

        </div>
        <div class="col-sm-4">
            <img src="~/imgs/locales.jpg" alt="local" title="La Molina" style="max-width: 100%; height: auto;">
            <a href="#">
            <p style="color: darkred; text-align: center; font-family: Arial, sans-serif; font-size: 18px;">La Molina</p>
            </a>
        </div>
    </div>
</div>

<h1 style="color: rgba(50, 50, 50, 0.8); text-align: center; ">Nuestros Platos Estrellas</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center mb-4">
            <img src="~/imgs/plato1.jpg" alt="plato1" style="width: 300px; height: 300px; flex-shrink: 0;">
            <div class="pl-4">
                <h6 style="color: rgba(50, 50, 50, 0.8)">OJO DE BIFE</h6>
                <p style="color: rgba(139, 0, 0, 0.8);">
                    01 corte de carne
                </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);">Piña asada al estilo The Meat Dealer </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);"> Papas fritas </p>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center mb-4">
            <img src="~/imgs/plato2.jpg" alt="plato2" style="width: 300px; height: 300px;">
            <div class="pl-4">
                <h6 style="color: rgba(50, 50, 50, 0.8)">ASADO DE TIRA AMERICANO </h6>
                <p style="color: rgba(139, 0, 0, 0.8);">
                    01 corte de carne
                </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);">Piña asada al estilo The Meat Dealer </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);"> Papas fritas </p>
             </div>
        </div>
        <div class="col-md-6 d-flex align-items-center mb-4">
            <img src="~/imgs/plato3.jpg" alt="plato3" style="width: 300px; height: 300px;">
            <div class="pl-4">
                <h6 style="color: rgba(50, 50, 50, 0.8)">ENTRAÑA AMERICANO </h6>
                <p style="color: rgba(139, 0, 0, 0.8);">
                    01 corte de carne
                </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);">Piña asada al estilo The Meat Dealer </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);"> Papas fritas </p>
            </div>
            
        </div>
        <div class="col-md-6 d-flex align-items-center mb-4">
            <img src="~/imgs/plato4.jpg" alt="plato4" style="width: 300px; height: 300px;">
            <div class="pl-4">
                <h6 style="color: rgba(50, 50, 50, 0.8)">LOMO FINO ARGENTINO </h6>
                <p style="color: rgba(139, 0, 0, 0.8);">
                    01 corte de carne
                </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);">Piña asada al estilo The Meat Dealer </p>
                <br />
                <p style="color: rgba(139, 0, 0, 0.8);"> Papas fritas </p>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center mb-4">
            <img src="~/imgs/plato5.jpg" alt="plato5" style="width: 300px; height: 300px;">
            <div class="pl-4">
                <h6 style="color: rgba(50, 50, 50, 0.8)">PICAÑA AMERICANA </h6>
                <p style="color: rgba(139, 0, 0, 0.8);">
                    01 corte de carne </p>
                    <br />
                <p style="color: rgba(139, 0, 0, 0.8);">Piña asada al estilo The Meat Dealer </p>
                    <br />
                <p style="color: rgba(139, 0, 0, 0.8);"> Papas fritas </p>
            </div>
        </div>
    </div>
</div>

