@{
    ViewData["Title"] = "Home Page";
}

<div style="display:flex">
   
        <img src="~/imgs/parrilla.jpg" alt="Parrilla" style="width: 50%; height: 400px;">
        <img src="~/imgs/parrilla2.jpg" alt="Parrilla" style="width: 50%; height: 400px;">

 
</div>
