/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Variables */
:root {
    --primary-color: #1b6ec2;
    --link-color: #0366d6;
}

/* Navbar */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Links */
a {
    color: var(--link-color);
}

/* Buttons */
.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #1861ac;
}

/* Pills (for tabs) */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #1861ac;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

/* Box Shadow */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Accept Policy Button */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Form Styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

/* Responsive Font Size */
html {
    font-size: 20px;
}

@media (max-width: 767px) {
    html {
        font-size: 20px;
    }
}
