
@{
    ViewData["Title"] = "ConfirmOrderCar";
}

<h1>ConfirmOrderCar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Plato
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < 3; i++)
        {
            <tr>
                <td><img class="card-img-top" src="../../imgs/picanha.jpg" style="height:40px; width:40px" /></td>
                <td>Picanha a las hierbas finas</td>
                <td>79.80</td>
                <td>5</td>
                <td>
                    <button class="btn btn-success"></button>
                </td>
            </tr>
        }
        
    </tbody>
</table>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h5>Informacion del cliente</h5>

            <div class="row">
                <div class="col-md-12">
                    <label>Tipo de documento:</label>
                    <select type="text" class="form-control"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Nombre:</label>
                    <input type="text" class="form-control"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Apellido:</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

        </div>
    </div>


    <div class="col-md-6">
    <div class="row">
            <h5>Informacion del pago</h5>
    </div>
    </div>

</div>

<div class="row mt-5">
    <div class="col-md-12">
        <center>
            <button class="btn btn-success"> Confirmar comprar</button>
        </center>
    </div>
</div>