@model PlatosModel;
@{
    ViewData["Title"] = "MenuCatalogDetail";
}

<h1>Detalle de plato</h1>

<div class="row mt-5">
    <div class="col-md-4">
        <img class="card-img-top" src="~/imgs/@Model.Imagen" />
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-secondary">@Model.NombrePlato</h5>
            </div>
            <p>
                <span class="text-danger" style="font-size:70px;">@Model.Precio</span>
            </p>
            <p>
                <b>Descripcion : </b> @Model.Descripcion
            </p>
            <div class="col-md-12 mt-3">
                <button class="btn btn-primary">Añadir al carrito</button>
                <a asp-action="MenuCatalog" asp-controller="Restaurante" class="btn btn-success">
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>
